snippet mk "Modo matemático" w
  $${1:$TM_SELECTED_TEXT}$$0

snippet mkd "Mode matemático em destaque" w
  $
  ${1:$TM_SELECTED_TEXT}
  $
  $0


snippet vec "Cria um vetor" w
  arrow(${1:$TM_SELECTED_TEXT})$0

